* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Roboto, sans-serif;
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.header {
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 24px;
    display: flex;
    justify-content: center;
}

.header-container {
    display: flex;
    justify-content: space-between;
    width: 70%;
    padding: 24px;
    margin-bottom: 48px;
}

.header-links a{
    color: #E5E7EB;
    font-size: 18px;
    padding: 16px;
}

a {
    text-decoration: none;
}
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.section-one {
    background-color: #1F2937; /* remember we need this for the footer */
    display: flex;
    justify-content: center;
    gap: 32px;
    height: 300px;
}

.left-elements {
    width: 400px;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6; /* remember this is the call to action background colour too */
    color: white;
    padding: 8px;
    border-radius: 10px;
    width: 100px;
    margin-top: 8px;
}

.image-placeholder {
    color: white;
    background-color: rgb(188, 188, 188);
    width: 550px;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 460px;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
.section-two {
    height: 400px;
}

h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;   
    margin-top: 32px;
    margin-bottom: 48px;
    text-align: center;
}

.img-placeholder-2 {
    height: 150px;
    width: 150px;
    border: 4px solid #3882F6;
    border-radius: 12px;
}

.subtext2 {
    color: #474e5d;
}

.all-cards {
    display: flex;
    justify-content: center;
    gap: 48px;
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 150px;
    text-align: center;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.section-three {
    background-color: #E5E7EB;
}

.quote-text {
    color: #1F2937;
    font-weight: lighter;
    font-style: italic;
    font-size: 36px;
}

.quoter {
    color: #1F2937;
    font-weight: bold;
}