* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Roboto, sans-serif;
}

.section-one {
    background-color: #1F2937; /* remember we need this for the footer */
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.secondary-text,
.header-link {
    font-size: 18px;
    color: #E5E7EB;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8
}

button {
    background-color: #3882F6; /* remember this is the call to action background colour too */
    color: white;
}